---
layout: page
description: "A sober view of AI"
---

{% for post in paginator.posts %}
<div class="post-preview h-entry">
    <a class="u-url" href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title p-name">{{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle e-content">{{ post.subtitle }}</h3>
        {% endif %}
        {% if post.summary %}
        <h3 class="post-subtitle e-content">{{ post.summary }}</h3>
        {% endif %}
    </a>
    <p class="post-meta p-author h-card">Posted by {% if post.author %} <strong>{{ post.author }}</strong>{% else %} <strong>{{ site.author }}</strong>{% endif %} on
      {{ post.date | date: "%B %-d, %Y" }}
    </p>
    <a href="{{ post.url | prepend: site.baseurl }}" class="button">Read more</a>
    <div class="dt-published"> </div>
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
