 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What I do</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Data Science at Home is the place to learn about data science and how to build analytic tools at home.
                      A blog and podcast episodes will help practitioners and aficionados to get in touch with
                      the beautiful art of data analysis from algorithm design to implementation.
                    </p>
                </div>
                <div class="col-lg-4">
                  <p>The major focus is on artificial intelligence and deep learning, with some tips&tricks in advanced machine learning.
                   </p>

                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <!--
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                    -->

                </div>
            </div>
        </div>
    </section>
