<!-- Header -->
<header>
    <div class="container bg-img bg-img-about">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="/img/logos/dsh_logo_darker_graphonly.png" alt=""> -->
                <div class="intro-text">
                    <span class="name">{{ page.title }}</span>
                    <span class="skills">
                      {{ page.subtitle }}
                  </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Podcast Grid Section -->
<section id="portfolio">
    <div class="container">

	<div class="row">
		<div class="col-lg-12">
      <center>
        <img src="https://worldofpiggy.github.io/img/profile_small.jpg" width="180px" style="border-radius: 50%; background-position: 50%; background-repeat: no-repeat;"/>
      </center>

      <p>
      Hi! I am Francesco Gadaleta, PhD. computer engineer specialized in Artificial Intelligence and Advanced Machine Learning.
      As researcher in Computer Science at the University of Leuven I developed novel hypervisor-based approaches to computer security, some of which became core technology at VMWare.
      Download my <a href="https://lirias.kuleuven.be/bitstream/123456789/413219/1/phd+dissertation.pdf">dissertation</a>
    </p>
     <p>
      As member of the Statistical Genetics Unit at the Department of Electrical Engineering and Computer Science of the University of Liège, I have been searching for solutions to integrate heterogeneous data (OMICS) within a common framework, assembling networks and merging clinical and genetic data together to make predictions about the risk of diseases for patients in a pre-symptomatic fashion.
    </p>
    <p>
      I was data scientist at the Gasthuisberg Research Hospital located in Leuven, Belgium - one of the largest research hospitals in Europe - and member of the Non-Invasive-Prenatal-Testing
      <a href="https://en.wikipedia.org/wiki/Prenatal_diagnosis">NIPT</a>  research group.
</p>
<p>
      I have been part of the Advanced Analytics Team of Johnson&Johnson delivering the most accurate predictive models for disease interceptions and drug recommendation. In addition I have adviced a number of big data technology and strategies that turned out to be essential to the organization on a global scale.
</p>
<p>I am currently Chief Data Officer at <a href="https://www.abe.ai">Abe.ai</a>, creating artificial intelligence solutions for personal finance.
</p>
<p>
      I am based in Belgium and during my spare time I enjoy reading books, designing software and running ultra marathons.
</p>
<p>
      Technologies I am excited about include <b>Artificial Intelligence</b>, <b>Deep Learning</b>, <b>Natural Language Processing</b>,
      <b>Advanced Computer Programming</b> and <b>Machine Learning</b>.
</p>
<p>
      If you are interested in hiring me for speaking, writing, machine learning and artificial intelligence consulting, or other opportunities, feel free to <a href="/contact">contact me</a>.
</p>
<p>
      Academic background and on site experience provided me of the most powerful theoretical and practical tools for data analysis, such as
</p>
<ul>
    <li> Neural Networks and Deep Learning </li>
    <li> Non-linear dynamics</li>
    <li> Penalised regression methods</li>
    <li> Bayesian statistics</li>
    <li> LASSO and variants</li>
    <li> and much more</li>
</ul>
<p>
      Languages I am fluent in comprise
    </p>
<ul>
       <li>C/C++, PHP, SQL, Perl, Lisp</li>
      <li> Python, R, Java</li>
      <li> and more</li>
</ul>
<p>
      and some computing infrastructure I use with regularity </p>
<ul>
      <li> Virtualization technology (Virtualbox, VMWare, Xen, Docker)</li>
      <li> Amazon Web Service (AWS)</li>
      <li> Spark/Hadoop</li>
</ul>
<p>
      In my spare time I do ultra marathons (trail) on the distances of 55 and 80 km.
</p>


      <h3> Identify me </h3>
      <p>
      Security is as important as confidentiality and privacy. If you need to contact me in a confidential and secure way, please follow the best practices of encrypted/signed communication. I engage confidential communications on secure channels like Signal and Telegram.
      This site has been proved by <a href="https://keybase.io/fragadaleta">keybase.io</a></p>
      <p>I have a public key with fingerprint 3CB8 C721 FE99 BC98 38DC  F463 BFDC E4EC CE3B 7327</p>

		</div>
		<div class="col-lg-1"></div>
	</div> <!-- row -->
</div> <!-- container -->
</section>
