 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>In a nutshell</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Data Science at Home is the blog for data scientists who want to build the right tools to do
                      advanced analytics and machine learning. Data science practitioners and aficionados will get familiar
                      with the beautiful art of data analysis, from algorithm design to their practical implementations.
                    </p>
                </div>
                <div class="col-lg-4">
                  <p>While the major focus is on artificial intelligence and deep learning, Data Science at Home provides the
                    best practices in collecting, cleaning and managing data, and other advanced machine learning techniques in
                    domains like healthcare, finance, social media, and many more.
                   </p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">

                    <!--
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                    -->

                </div>
            </div>
        </div>
    </section>
