<!-- Footer -->
<div id="footer">
<footer style="width:70%;">
  <div class="container">
      <div class="row">
        <ul class="list-inline copyright text-muted" style="float:right;">


          <li>
            <a href="http://datascienceathome.us9.list-manage1.com/subscribe?u=7df5a060600c0903bedb640c9&id=f350090860">Subscribe</a>
          </li>

            <li>
              <a href="/about">About</a>
            </li>

            <li>
              <a href="{{ site.baseurl }}/contact">Contact</a>
            </li>

            <li>
              <a href="/archive">Archive</a>
            </li>
            <li>
            </li>
            <li>
            </li>

            <li>
              <div class="list-inline">
                  <p class="copyright text-muted"> Copyright &copy; {{ site.time | date: '%Y' }}
                    {{ site.copyright_name }} amethix.com
                  </p>
              </div>
           </li>

          </ul>
        </div>

      </div>
</footer>



</div>
<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
