    <!-- Header -->
    <header>
        <div class="container bg-img bg-img-home">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <img class="img-responsive" src="/img/logos/dsh_logo_darker_graphonly.png" alt=""> -->
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <span class="skills">Written by a Data Scientist, Software Engineer, and Code Artist</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
