   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/ ">
                  <div class="navbar-header">

                </div>
                <!-- {{ site.title }} -->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/blog">Blog</a>
                    </li>
  		              <li class="page-scroll">
                        <a href="/podcast">Podcast</a>
                    </li>

                    <li class="page-scroll">
                        <a href="/about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/contact">Contact</a>
                    </li>

                    <li class="page-scroll">
                    <!--
		<div class="ui form">
		    <div class="fields">
			<div class="six wide required field">

			 <form role="search" method="get" action="/search/">
			    <input style="height:36px;font-size:12pt;width:50%;"; id="searchString" name="searchString"
				      placeholder="Search on World of Piggy..." type="text">
			    </div>
			    <div class="two wide field">

			    <input style="min-width: 100px; float:right;" class="btn" id="searchButton" name="googleSearchName" type="submit" value="Search">
			  </form>

			</div>
		    </div>
		</div>
		-->


<!--
             <form role="search" method="get" action="/search/">

	       <input style="min-width:100px; width: 30%; float:right;" class="btn" id="searchButton" name="googleSearchName" type="submit" value="Search">
	       <div style="overflow: hidden;">
	       	<input style="height:36px;font-size:12pt;min-width: 120px; width:50%;"; id="searchString" name="searchString"
		      placeholder="Search on World of Piggy..." type="text">
	 	    </div>
	    </form>
	-->
	  </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
