<h2> Support us </h2> 
		 	Did you enjoy the reading? <br />
		 	Please support us with a small donation. We will really appreciate!
			<br /> <br />
			<center>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" style='border-width:1px'/>
			<input type="hidden" name="hosted_button_id" value="JMPVBRFPYJ5H4" />
			<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" 				border="0" name="submit" title="PayPal - The safer, easier way to pay online!" 			alt="Donate" />
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="0" 				height="1" />
			</form>
</center>
