<!-- Contact Section -->
<section id="contact">
	
	
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3>Redirecting to campaign...</h3>
				<!--
				<h2>Subscribe</h2>
				<p>Place your email address and we will send you a reminder <br />
				  as soon as we have new posts, new podcast episodes, or anything related to <br />
				  data science you might be interested in. <br />
				  As always, free of charge!
				</p>
-->
				
	</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
<!-- Begin MailChimp Signup Form -->
<!-- 				
<form action="//gipsyrunner.us9.list-manage.com/subscribe/post?u=7df5a060600c0903bedb640c9&amp;id=f350090860" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
	    <div class="row control-group">
	    <div class="form-group col-xs-12 floating-label-form-group controls">
	      <label>Your Email</label>
	      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email address" required>
	     </div>
	    </div>
	    
   
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
	    <input type="text" name="b_7df5a060600c0903bedb640c9_f350090860" tabindex="-1" value="">
    </div>
	
	<div class="row">
	<div class="form-group col-xs-12 text-center">
    <div class="clear">
	    <button type="submit" class="btn btn-success btn-lg" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
     </div>
	</div>
	</div>
    </form>
-->
<!--End mc_embed_signup-->
				
			</div>
		</div>
	</div>
	
	
	
	
	
</section>
